/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 0.8em;
}

.button{
    border: none;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.webcam-image{
    position: relative;
    margin: 5px;
}

.user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;

}

.padding-10{
    padding: 10px;
}

.darkgrey-bg{
    background-color: rgb(70, 70, 70);

}

.red-text{
    color: crimson;
}

.white-txt{
    color: white;
}

.webcam-image img{
    width: 250px;
    height: 150px;
}

/* FLEX ATTRIBUTE */
.flexrow{
    display: flex;
    flex-flow: row;
}

.flexcolumn{
    display: flex;
    flex-flow: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-flexend{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

/* ID ATTRIBUTES */
#header-container{
    padding: 15px 10px;
    height: 55px;
}

#main-container{
    height: 800px;
}

#footer-container{
    position: fixed;
    bottom: 0;
    z-index: 10;
    height: 75px;
    width:  100%;
    background-color: rgb(45, 45, 45);
}

##footer-container ul{
    display: inline-block;
    height: 75px;
}

#footer-container li{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

#footer-container li p{
    display: block;
    font-size: 1em;
}

#footer-container li i{
    font-size: 2em;
}

#footer-container button{
    height: 75px;
    width: 200px;
    line-height: 75px;
    border: none;
    font-size: 1em;
    font-weight: 600;
}

#end-meeting-button{
    height: 100%;
    line-height: 75px;
}